html,
body,
.main-container {
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: gray;
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.main-row {
  height: 100%;
}

.top-menu {
  color: darkblue;
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
}

#collapsable-top-menu {
  padding-bottom: 5px;
}

.top-menu h2 {
  margin-left: 20px;
}

.control-menu {
  margin-bottom: 10px;
}

.control-menu row {
  margin-right: 15px;
}

.main-textarea-wrapper {
  height: calc(80% - 20px);
}

#main-textarea {
  resize: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  border: none;
}

#main-textarea:focus,
#source-input:focus {
  outline-width: 0px;
}

#main-reading-area {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.side-bar-container {
  height: 100%;
  width: 100%;
}

.side-bar {
  background-color: #e1e8ed;
  overflow: hidden;
}

.sidebar-toggle {
  padding: 10px;
}

.saving-circle {
  color: lightpink;
}

.saved-circle {
  color: #00ff00;
}

.side-bar-label {
  margin-left: 10px;
}

.source-container {
  margin: 10px;
}

.my-toggle {
  width: 100%;
  margin-bottom: 10px;
}

.my-toggle:focus {
  outline: none;
  box-shadow: none;
}

.my-toggle:active,
.my-toggle:hover {
  background-color: whitesmoke !important;
  color: black !important;
}

.source-collapsable {
  max-height: 400px;
  width: 100%;
}

.sources-list {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.reference-list {
  width: 100%;
  height: 450px;
  overflow: auto;
}

.collapsable-reference-link,
.collapsable-reference-content-link {
  width: 100%;
}

.reference-content,
.reference-list-item,
.source-list-item {
  background-color: #e1e8ed;
}

.reference-list-item {
  width: 100%;
}

.reference-content {
  white-space: pre-wrap;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.borderless-button {
  border: none;
}

.filtered-word {
  color: white;
  background-color: blue;
}

.unfiltered-word {
  font-style: normal;
}

.social-media a {
  margin: 5px;
}
